* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsla(200, 92%, 54%, 1);
}

.title {
  color: white;
  margin: 1em;
  padding: 1em;
  text-align: center;
  font-size: 3.5rem;
}

.reset-component {
  text-align: center;
}

.until {
  padding: 1em;
  background: white;
  max-width: 700px;
  border-radius: 5px;
  margin: 2em auto;
}

.countdown {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1em;
}

.until-component {
  flex: 1rem;
  background: hsla(200, 92%, 54%, .9);
  text-align: center;
  border-radius: 5px;
}

.until-number {
  color: white;
  padding: 1rem;
  font-size: 5em;
  font-weight: bold;
}

.until-unit {
  font-size: 1em;
  padding-bottom: 1em;
  font-weight: bold;
  color: white;
}

.until-event {
  display: block;
  text-align: center;
  font-size: 2.5rem;
  margin: 1rem;
}

form {
  margin: auto;
}

.form-inputs{
  margin: auto;
  font-size: 2em;
  padding: 0.2em;
}

input {
  display: block;
  margin: 0 auto;
  font-size: 1.5rem;
  width: 95%;
  padding: .3em;
}

.form-controls {
  margin: 1em auto;
}

button {
  display: inline-block;
  height: 2rem;
  width: 4rem;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.25s;
  color: white;
}

#submit{
  background: black;  
}

#submit:hover {
  background: lightgrey;
  color: black;
}

#start {
  background: green;
}

#start:hover {
  background: lightgreen;
  color: black;
}

#reset {
  font-size: 1.3rem;
  background: red;
  width: 10rem;
  height: 3rem;
}

#reset:hover {
  background: pink;
  color: black;
  border-radius: 5px;
}